<nav class="navbar fixed-top navbar-expand-md navbar-light">
  <div class="container">
    <a routerLink="" class="navbar-brand">Loc8r</a> 2018250045이중혁
    <button type="button" data-toggle="collpase" data-target="#navbarMain" class="navbar-toggler">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarMain" class="navbar-collapse collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="about" routerLinkActive="active" class="nav-link">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container content">
  <router-outlet></router-outlet>
  <footer>
    <div class="row">
      <div class="col-12">
        <small>&copy; Junghyeok Lee</small>
      </div>
    </div>
  </footer>
</div>
